@import "tailwindcss";

:root {
  --background: #b3b0b0;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.currentLink {
  color:rgb(255, 255, 255);
}

.notCurrentLink {
  color:rgb(61, 30, 214);
}

.centerLinks {
  text-align: center;
}

a {
  margin-right: 10px;
}

.formInput {
  border: 2px solid black; 
  background-color: white;
}

.formButton {
  background-color: grey;
  border-radius: 10px;
  color: black;
  padding: 8px 12px;
  border: 2px solid black; 
}

.stackElements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px; 
}
